/* Buttons */
.button {
    border: 1px solid #000;
    border-radius: 3px;
    color:#000;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
  }
  .button:hover {
    background: #0000;
    color: rgb(0 ,175 ,0);
  }
/* end buttons*/