/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1500px) {
}

/* Base scaffolding */
body {
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap:inherit;
  }

  hgroup{
    color: inherit;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 32px;}
  h2 {
    font-size: 28px;}
  h3 {
      font-size: 26px;}
  h4 {
    font-size: 20px; }
  h5 {
      font-size: 18px; }
  h6 {
    font-size: 16px; }

/*END Base scaffolding

/* Customize from here*/

/* Buttons */
.button {
    border: 1px solid #000;
    border-radius: 3px;
    color:#000;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
  }
  .button:hover {
    background: #0000;
    color: rgb(0 ,175 ,0);
  }
/* end buttons*/

/* Home Container */
.homeCoontainer{
    text-align: center;
}
.homeContainer .homeWrapper .projectLogo img {
    height:10em;
    text-align: left; 
}
/* END Home Container */

/* Project title*/ 
.projectTitle {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    line-height: 0.5em;
  }
  
  .projectTitle > small {
    display: block;
    font-weight: normal;
    font-size: 40%;
    line-height: 1em;
    margin: 0.7em 0 1.3em;
  }
/*END project title*/

/*Homepage*/
.productShowcaseSection h2 {
    color: #000;
    font-size: 30px;
    line-height: 1em;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    text-decoration: underline;
  }
/*END Homepage*/

/*Container*/
.container .wrapper .imageAlignSide h2 {
    text-align: center;
}
/*END Container*/

/* Navbar */
.fixedHeaderContainer {
    background: #000;
    color: #fff;
    min-height: 50px;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
/*END navbar*/

/*GridBlock*/
.gridBlock {
  padding: 0;
}
.gridBlock > * {
  box-sizing: border-box;
}
.gridBlock .twoByGridBlock img{
    width: 8em;
}
.gridBlock .threeByGridBlock img{
    width: 10em;
}
.gridBlock .fourByGridBlock img {
  width: 8em;
}

/*END GridBlock*/

/* Start of Footer */
.nav-footer {
    background: #aaa;
    border: none;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 10em;
    position: relative;
  }
  .nav-footer .sitemap {
    justify-content: left;
    position: relative;
    margin: 0 0em 0em;
    max-width: 960px;
  }
  .nav-footer .sitemap div {
    justify-content: center;
    flex: 1;
    margin: 0em 3em 0em;
  }
  .nav-footer .sitemap .nav-home {
    display: table;
    height: 72px;
    margin: -20px -60px 0;
    opacity: 0.4;
    padding: 10px;
    transition: opacity 0.15s ease-in-out;
    width: 72px;
  }
  .nav-footer .fbOpenSource {
    display: block;
    margin: 1em 21em;
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out;
    width: 170px;
  }
  .nav-footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
    margin-right: 10em;
  }
/* End of Footer */

/* navigationSlider*/
.navigationSlider{
<<<<<<< HEAD
    background: rgb(0, 0, 0;
=======
    background: rgb(0, 0, 0);
>>>>>>> cbade3b582fbd394362ad4a1c28c907b8ea18a98
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    width: 100%;
} 
<<<<<<< HEAD
/* END navigationSlider */
=======
/* END navigationSlider */
>>>>>>> cbade3b582fbd394362ad4a1c28c907b8ea18a98
