/* Base scaffolding */
body {
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap:inherit;
  }

  hgroup{
    color: inherit;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 32px;}
  h2 {
    font-size: 28px;}
  h3 {
      font-size: 26px;}
  h4 {
    font-size: 20px; }
  h5 {
      font-size: 18px; }
  h6 {
    font-size: 16px; }

/*END Base scaffolding